<!DOCTYPE html>
<html>
<head>
	<title>ayou</title>
</head>
<body>
<p>bibou</p>
<script type='text/javascript'>
    var socket = new WebSocket('ws://' + window.location.host + '/chat/');

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function message(event) {
      var data = JSON.parse(event.data);
      console.log(data);
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
</script>
</body>
</html>